In [9]:
a = [1, 2, "coucou", None]
print(a)

[1, 2, 'coucou', None]

In [10]:
# ajouter un élément à une liste
a.append("salut !")
print(a)

[1, 2, 'coucou', None, 'salut !']

In [11]:
a[0:2] + ["salut"] + a[2:5]

[1, 2, 'salut', 'coucou', None, 'salut !']

In [7]:
# concaténer plusieurs listes
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 'coucou', None, 'salut !', 'salut !', 4, 5, 6]

In [12]:
# récupérer un élément à un index donné
elt_2 = c[2]
print(elt_2)

coucou

In [11]:
# suppression d'un élément
l = ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']

l.remove('Alice')
print(l)

['Bob', 'Charlie', 'Bob', 'Dave']

In [13]:
# trier une liste d'entiers
d = [4, 3, 7, 5, 8]
print(sorted(d, reverse=True))

[8, 7, 5, 4, 3]

In [9]:
# parcourir une liste
d = [4, 3, 7, 5, 8]
for elt in d:
    print(elt)

4
3
7
5
8

In [1]:
# parcourir une liste
d = [4, 3, 7, 5, 8, 10]
for elt in d:
    if elt > 6:
        print("supérieur à 6")
    else :
        print(elt)

4
3
supérieur à 6
5
supérieur à 6
supérieur à 6

In [4]:
# parcourir une liste
d = ["hi", "hello", "salut", "bonjour", "salutations"]
for elt in d:
    if len(elt) > 7:
        print("Mot trop long")
    elif len(elt) < 3:
        print("Mot trop court")
    else :
        print(elt)

Mot trop court
hello
salut
bonjour
Mot trop long

In [14]:
# filtrer et ne récupérer que les éléments pairs
d = [4, 3, 7, 5, 8, 10]
even_nb_list = []
for elt in d:
    if elt%2 == 0:
        even_nb_list.append(elt)

print(even_nb_list)

[4, 8, 10]

In [ ]:
# filtrer et ne récupérer que les éléments pairs
# Méthode avancée
print([elt for elt in d if elt % 2 == 0])

In [16]:
[elt + 2 for elt in d]

[6, 5, 9, 7, 10, 12]

In [20]:
def divise(a, b):
    return a/b
[divise(elt, 5) if elt%2 == 0 else elt for elt in d  ]

[0.8, 3, 7, 5, 1.6, 2.0]