Series

In [2]:
# Créer une série
import pandas as pd 
se = pd.Series([1, 2, 3, 4])
print(se)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
# Créer une Series avec un index
se_i = pd.Series([1, 2], index= ["a", "b"])
print(se_i)

a    1
b    2
dtype: int64

In [4]:
# Accéder à la valeur correspondant à un élément de l'index
se_i["a"]

1

In [5]:
# Re-indexer une série
se_i.reindex(["b", "a", "c"])

b    2.0
a    1.0
c    NaN
dtype: float64

DataFrame

In [8]:
# Créer un dataframe représentant les élèves avec trois colonnes
#   - prénom
#   - poste
#   - employeur

data = {"prenom": ["Thomas", "Alexandre"], 
        "poste": ["DE", "DS"], 
        "employeur": ["La Poste", "Monoprix"]
        }
df = pd.DataFrame(data)
df

      prenom poste employeur
0     Thomas    DE  La Poste
1  Alexandre    DS  Monoprix

In [9]:
# Sur ce dernier df:
# créer une nouvelle colonne "niveau_python" et assigner à tout le monde la valeur "intermediaire"
df["niveau_python"] = "initiation"
df

      prenom poste employeur niveau_python
0     Thomas    DE  La Poste    initiation
1  Alexandre    DS  Monoprix    initiation

In [10]:
# Reprendre le df des élèves
# A l'aide de la méthode .drop(), supprimer la colonne "niveau_python"
df.drop("niveau_python", axis=1)

      prenom poste employeur
0     Thomas    DE  La Poste
1  Alexandre    DS  Monoprix